PORT=
NODE_ENV=
CLIENT_URL=
CLIENT_URLS=
ALLOW_VERCEL_PREVIEWS=true
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
COOKIE_SECRET=
COOKIE_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAX_FILE_SIZE=
